.ctas {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.primary,
.secondary {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.75rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition:
    background-color 0.25s,
    border-color 0.25s;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.primary {
  background-color: var(--foreground);
  color: var(--background);
  border-color: var(--foreground);
}

.primary:hover {
  background-color: var(--button-primary-hover);
}

.secondary {
  background-color: transparent;
  color: var(--foreground);
  border-color: var(--gray-alpha-200);
}

.secondary:hover {
  background-color: var(--button-secondary-hover);
  border-color: var(--gray-alpha-200);
}

.logo {
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .ctas {
    flex-direction: column;
  }
}
